<h1>
  Your Score is {{ 100 - (scores.remaining * 100) / 120 | number: "1.2-2" }}
</h1>
<div></div>

<div>
  <h2>Wrong Questions:</h2>
  <p>Number of Wrong Answers: {{ scores.wrong }}</p>
  <div style="border: solid black;">
    <ul>
      <li *ngFor="let wq of scores.wrongQuestions">
        <p>
          {{ wq.question }}
        </p>
        <ul>
          <li *ngFor="let o of wq.options">
            <p>
              {{ o }}
            </p>
          </li>
        </ul>
        <p>
          Your Answer: <strong style="color: red"> Answer should be here </strong>
        </p>
        <p><strong>Right Answer: </strong>{{ wq.correctAnswer }}</p>
      </li>
    </ul>
  </div>
</div>

<div>
  <h2>Skiped Questions:</h2>
  <p>Number of Skipped Answers: {{ scores.skipped }}</p>
  <ul>
    <li *ngFor="let sq of scores.skipedQuestions">
      <p>{{ sq.question }}</p>
    </li>
  </ul>
</div>
